html { hyphens: auto }
body {
    font-family: "fbb", "Palatino";
    font-size: 12pt;
    line-height: 16pt;
    text-align: justify;
}
@media screen {
  body {
    max-width: 80ex;
  }
}
.title {
    text-align: center;
    width: 100%;
}
.title img {
    width: 80%;
}
.pic img {
    width: 100%;
    display: block;
}
.pic {
    width: 80%;
    margin: auto;
    text-align: center;
    font-style: italic;
}
h1 {
    z-index: 10;
    font-family: "Gill Sans", "Gillus ADF", "Helvetica";
    font-size: 32pt;
    line-height: 40pt;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
h2 {
    font-size: 24pt;
    line-height: 30pt;
    font-weight: normal;
    font-style: italic;
}
h3 {
    font-size: 14pt;
    line-height: 16pt;
    font-weight: normal;
    font-style: italic;
}
blockquote {
    margin-left: 0;
    padding-left: 1.5ex;
    border-left: 1ex solid #bbb;
}
th {
    padding-right: 1em;
}
td {
    padding-right: 1em;
}
td[align="center"] {
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
}
.right {
    float: right;
}
@page {
    @bottom-center {
	content: counter(page);
    }
}
/* bookmarks, table of contents */
h1, h3 { bookmark-level: none }
