@media screen {
    body {
        background: #000;
        color: #dfd;
        margin-left: clamp(1ex, 5%, 4em);
    }
    .noprint hr {
        background: green;
        border: 0;
        height: 1px;
        margin: 0.25em 0em 1.5em -10em;
    }
    blockquote {
        margin-left: 0;
        padding-left: 1ex;
        border-left: 0.5ex solid #cdcd00;
    }
    line, circle {
        stroke: chartreuse;
        stroke-width: 1.25pt;
    }

    text {
        fill: chartreuse;
        text-anchor: middle;
        dominant-baseline: central;
        font-size: 8pt;
    }
    circle {
         fill: black;
    }
    a {
        color: chartreuse;
        text-decoration: none;
    }
    a:visited {
        color: green;
    }
    a:hover {
        text-decoration: underline;
    }
    address ul {
        display: block;
        padding: 0;
    }
    address li {
        display: inline;
    }
    address li:first-child::before {
        content: "Authors: ";
    }
    address li::before {
        content: ", ";
    }
}
@media print {
    body {
        background: #fff;
        color: #000;
        font-size: 10pt;
    }
    #Z, svg {
        display: none;
    }
    .noprint {
        display: none;
    }
    h2 {
        break-after: avoid;
    }
    p {
        break-inside: avoid;
    }
    blockquote {
        break-inside: avoid;
    }
    a, a:visited {
        color: #000;
        font-style: italic;
        text-decoration: none;
    }
    address ul {
        padding-left: 0;
        list-style-type: none;
    }
    address a::after {
        content: " <" attr(href) ">";
    }
    table th:first-child + th + th {
        display: none;
    }
    table td {
        vertical-align: top;
    }
    table td:first-child + td,
    table td:first-child + td + td {
        display: inline;
    }
    table td:first-child + td {
        margin-right: 1ex;
    }
    table td:first-child + td + td::before {
        content: "​("; /* ZERO WIDTH SPACE */
    }
    table td:first-child + td + td::after {
        content: ")";
    }
}
body {
    font-family: "Iosevka Etoile", Iosevka, "Dejavu Sans Mono", Inconsolata, Monaco, Courier, monospace;
    font-size: 12pt;
    margin: 1em;
    hyphens: auto;
}
#links {
    padding: 0;
    font-size: smaller;
}
#links li {
    display: inline;
}
#intro, #generate, #documentation {
    max-width: 800px;
}
.example {
    white-space: pre-wrap;
    color: #8fd;
}
.result {
    white-space: normal;
}
.invisible {
    display: none;
}
table {
    margin-top: 1ch;
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    min-width: 2em;
}
td:first-child + td, td:first-child + td + td {
    text-align: left;
}
button {
    color: chartreuse;
    background: inherit;
    border: none;
    font: inherit;
    font-size: smaller;
    padding: 0;
    margin-top: 3pt;
}
button:hover {
    text-decoration: underline;
}
.muted {
    color: green;
}
